# Time Series for Hamilton Shelter Occupancy

In [2]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
from pathlib import Path
tody = date.today()

In [4]:
# file to load
file_to_load = Path("Resources/Shelter_Occupancy.csv")

# Read the csv into a dataframe
shelter_occupancy = pd.read_csv(file_to_load)

# Display the data
shelter_occupancy.head()

,OBJECTID,MONTH_YEAR,PERCENT_MEN,PERCENT_WOMEN,PERCENT_FAMILIES,PERCENT_YOUTH,PERCENT_EMERGENCY
0,1,2020/01/31 05:00:00+00,1.14,1.04,0.93,0.68,NaN
1,2,2020/02/28 05:00:00+00,1.11,1.02,0.91,0.60,NaN
2,3,2020/03/31 05:00:00+00,1.08,0.82,0.97,0.52,NaN
3,4,2020/04/30 05:00:00+00,1.39,0.87,0.95,0.70,0.44
4,5,2020/05/31 05:00:00+00,1.14,0.80,0.64,0.46,0.50

In [8]:
# Remove time from date
shelter_occupancy['MONTH_YEAR'] = pd.to_datetime(shelter_occupancy['MONTH_YEAR']).dt.date

# Display the data
shelter_occupancy.head()

,OBJECTID,MONTH_YEAR,PERCENT_MEN,PERCENT_WOMEN,PERCENT_FAMILIES,PERCENT_YOUTH,PERCENT_EMERGENCY
0,1,2020-01-31,1.14,1.04,0.93,0.68,NaN
1,2,2020-02-28,1.11,1.02,0.91,0.60,NaN
2,3,2020-03-31,1.08,0.82,0.97,0.52,NaN
3,4,2020-04-30,1.39,0.87,0.95,0.70,0.44
4,5,2020-05-31,1.14,0.80,0.64,0.46,0.50

In [9]:
# Format the 'Month_Year' column
shelter_occupancy['MONTH_YEAR'] = pd.to_datetime(shelter_occupancy['MONTH_YEAR'], format='%m/%d/%Y')

# Rename the 'Month_Year' column to 'Date'
shelter_occupancy.rename(columns={'MONTH_YEAR': 'Date'}, inplace=True)

# Set the 'Date' column as the index
shelter_occupancy.set_index('Date', inplace=True)

# Display the data
shelter_occupancy.head()

,OBJECTID,PERCENT_MEN,PERCENT_WOMEN,PERCENT_FAMILIES,PERCENT_YOUTH,PERCENT_EMERGENCY
Date,,,,,,
2020-01-31,1,1.14,1.04,0.93,0.68,NaN
2020-02-28,2,1.11,1.02,0.91,0.60,NaN
2020-03-31,3,1.08,0.82,0.97,0.52,NaN
2020-04-30,4,1.39,0.87,0.95,0.70,0.44
2020-05-31,5,1.14,0.80,0.64,0.46,0.50

In [10]:
# Remove column
shelter_occupancy = shelter_occupancy.drop(columns=['OBJECTID'])

# Display the data
shelter_occupancy.head()

,PERCENT_MEN,PERCENT_WOMEN,PERCENT_FAMILIES,PERCENT_YOUTH,PERCENT_EMERGENCY
Date,,,,,
2020-01-31,1.14,1.04,0.93,0.68,NaN
2020-02-28,1.11,1.02,0.91,0.60,NaN
2020-03-31,1.08,0.82,0.97,0.52,NaN
2020-04-30,1.39,0.87,0.95,0.70,0.44
2020-05-31,1.14,0.80,0.64,0.46,0.50

In [11]:
# Drop the null values
shelter_occupancy = shelter_occupancy.dropna()

# Display the data
shelter_occupancy.head()

,PERCENT_MEN,PERCENT_WOMEN,PERCENT_FAMILIES,PERCENT_YOUTH,PERCENT_EMERGENCY
Date,,,,,
2020-04-30,1.39,0.87,0.95,0.70,0.44
2020-05-31,1.14,0.80,0.64,0.46,0.50
2020-06-30,1.07,0.78,1.00,0.51,0.34
2020-07-31,0.91,0.78,1.00,0.42,0.31
2020-08-31,0.90,0.85,1.00,0.29,0.33